@keyframes border-shine {
    0% {
      border-color: transparent;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    50% {
      border-color: #c6c6c6; /* Change to your desired shine color */
      box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
    }
    100% {
      border-color: transparent;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
  .custom-shine {
    position: relative; /* Required for the shine effect */
    animation: border-shine 2s 5;
    border-width: 2px;
    border-style: solid;
  }

  .details .carousel {
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s ease-out; /* Adjust timing and easing as desired */
  }
  
  .details[open] .carousel{
    max-height: 1000px; /* Set a maximum height that accommodates the content */
    transition: max-height 2s ease-in; /* Adjust timing and easing as desired */
  }
  
  
 
  